
@{
    ViewBag.Title = "Index";
    ViewBag.Controller = "Home";
    Layout = "~/Views/Shared/_Inner_Layout.cshtml";
}
@model BarangayInformationSystem.Models.ViewModel

<link href="~/Content/assets/css/userindex.css" rel="stylesheet" />
<link href="~/Content/assets/css/login.css" rel="stylesheet" />
<div class="row">
    <label>Welcome @(!String.IsNullOrEmpty(Model.user_detail.user_lname) ? Model.user_detail.user_lname : "" )!</label>
  

    <div class="container">
        <br />
        <div class="section-title" data-aos="fade-up">
            <h2>Baranggay Services</h2>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card-box bg-blue">
                            <div class="inner">
                                <h3> Request </h3>
                                <p> <br/> </p>
                            </div>
                            <div class="icon" >
                                <i class="fa fa-file" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="card-box-footer" onclick="onShowOption()">View More <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                   
                    <div class="col-lg-3 col-sm-6">
                        <div class="card-box bg-blue">
                            <div class="inner">
                                <h3> CONCERN </h3>
                                <p> <br /> </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-file" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
               
            </div>

        </div>
    </div>
</div>



<script src="~/Content/assets/js/loginScript.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
    function onShowOption()
    {
        Swal.fire({
            title: 'Select Type of Request',
            input: 'select',
            inputOptions: {
                '0': 'Brgy Certificate',
                '1': 'Certification'
            },
            inputPlaceholder: 'Select',
            showCancelButton: true,
            inputValidator: function (value) {
                return new Promise(function (resolve, reject) {
                    if (value !== '') {
                        resolve();
                    } else {
                        resolve('You need to select a type of request');
                    }
                });
            }
        }).then(function (result) {
            if (result.isConfirmed) {
                if (result.value)
                {
                    //Brgy Certificate
                    if (result.value == 0)
                    {
                        window.location = "/Home/CreateRequest/0";
                    }
                    else if (result.value == 1)
                    {
                        window.location = "/Home/CreateRequest/1";
                    }
                }
                //Swal.fire({
                //    icon: 'success',
                //    html: 'You selected: ' + result.value
                //});
            }
        });
        //Swal.fire({
        //    title: "<i>Title</i>",
        //    html: "Testno  sporocilo za objekt: <b>test</b>",
        //    confirmButtonText: "V <u>redu</u>",
        //});
        //swal("Write something here:", {
        //    content: "select",
        //})
        //.then((value) => {
        //    swal(`You typed: ${value}`);
        //});
    }
</script>